@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	background-color: #00000000;
}

#root {
	background: linear-gradient(
		45deg,
		rgba(22, 104, 131, 1) 0%,
		rgba(100, 204, 197, 1) 100%
	);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@keyframes pulse {
	50% {
		opacity: 0.5;
	}
}

.animate-pulse {
	animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.errorBoundery {
	font-family: Arial, Helvetica, sans-serif;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
}
