@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	background-color: #00000000;
}

#root {
	background: linear-gradient(
		45deg,
		rgba(22, 104, 131, 1) 0%,
		rgba(100, 204, 197, 1) 100%
	);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
